@model beestje_op_je_feestje.ViewModels.BookingViewModel

<div class="container mt-4">
    <div class="text-center mb-4">
        <div class="bg-light p-3">
            <h2>Boek een beestje</h2>
            <p>Welkom bij 'Beestje op een feestje (BOEF)'. Hier kun je een of meerdere van onze dieren boeken voor op jou feestje! Kies de dag van je feestje en volg de stappen om je beestje te boeken.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Home" asp-action="BookAnimal" method="post" class="form-inline justify-content-center">
                <div class="form-group mb-2">
                    <input asp-for="SelectedDate" type="date" class="form-control" />
                    <span asp-validation-for="SelectedDate" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Boeken</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <img src="~/images/boef-image.png" alt="Boek een beestje" class="img-fluid">
        </div>
    </div>
</div>