@model beestje_op_je_feestje.ViewModels.AnimalViewModel

<div class="container text-center">
    <h1 class="display-4">@Model.Name aanpassen</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" asp-controller="Animal" asp-action="Edit" enctype="multipart/form-data" class="form-group mx-auto" style="max-width: 33%;">

        <div class="mb-3">
            <label for="name" class="form-label">Naam</label>
            <input type="text" class="form-control" id="name" name="Name" placeholder="Vul hier een naam in" value="@Model.Name" required />
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" id="Type" name="Type" asp-for="Type" required>
                <option value="">Selecteer een Type</option>
                <option value="Tropical">Tropisch</option>
                <option value="Farm">Boerderijdier</option>
                <option value="Jungle">Jungledier</option>
                <option value="Snow">Sneeuwdier</option>
                <option value="Dessert">Woestijndier</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Prijs</label>
            <input type="number" class="form-control" id="price" name="Price" placeholder="Vul een prijs in" step="0.01" value="@Model.Price" required />
        </div>

        <div class="mb-3">
            <label for="imageFile" class="form-label">Upload een afbeelding</label>
            <input type="file" class="form-control" id="imageFile" name="imageFile" accept="image/*" />
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Animal Image" style="max-width: 100px; margin-top: 10px;" />
            }
        </div>

        <button type="submit" class="btn btn-success mt-3">Aanpassen</button>
    </form>
</div>
