<div class="container">
    <div class="row">
        <div class="col">
            <h1>Show Animals HIER</h1>
        </div>
        <div class="col text-end">
            <a asp-controller="Animal" asp-action="Create">
                <button type="button" class="btn btn-primary">Nieuwe dier aanmaken</button>
            </a>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col">Type</th>
                <th scope="col">Prijs</th>
                <th scope="col">Afbeelding</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Koe</td>
                <td>exotisch</td>
                <td>€500</td>
                <td>insert hier</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Leeuw</td>
                <td>exotisch</td>
                <td>€500</td>
                <td>insert hier</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Pinguïn</td>
                <td>exotisch</td>
                <td>€500</td>
                <td>insert hier</td>
            </tr>
        </tbody>
    </table>
</div>
