@model beestje_op_je_feestje.ViewModels.BookingViewModel

<div class="container mt-4">
    <div class="text-center mb-4">
        <div class="bg-light p-4 rounded shadow">
            <h2 class="display-4 text-primary mb-3">Boek een beestje</h2>
            <p class="lead text-secondary">Welkom bij <strong>'Beestje op een feestje (BOEF)'</strong>. Hier kun je een of meerdere van onze dieren boeken voor op jouw feestje! Kies de dag van je feestje en volg de stappen om je beestje te boeken.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Home" asp-action="BookAnimal" method="post" class="form-inline justify-content-center">
                <div class="form-group mb-3">
                    <label for="SelectedDate" class="sr-only">Kies een datum</label>
                    <input asp-for="SelectedDate" type="date" class="form-control form-control-lg" />
                    <span asp-validation-for="SelectedDate" class="text-danger d-block mt-2"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Boeken</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <img src="images/farm-image.png" alt="Boek een beestje" class="img-fluid rounded shadow-lg">
        </div>
    </div>
</div>
